# DATABASE
DATABASE_URL="file:./dev.db"

# AUTHENTICATION
NEXTAUTH_SECRET="your-secret-here"
ADMIN_PASSWORD="your-admin-password"

# ESEWA (Future)
# ESEWA_MERCHANT_ID="JB0BBWPH1QQD"
# ESEWA_SECRET_KEY="8g8M898P898fm8m"
# ESEWA_SUCCESS_URL="http://localhost:3000/api/checkout/success"
# ESEWA_FAILURE_URL="http://localhost:3000/api/checkout/failure"

# KHALTI (Future)
# KHALTI_SECRET_KEY="key live_secret_key_..."
# KHALTI_PUBLIC_KEY="key live_public_key_..."
